<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    <img src="/images/profile.jpeg" alt="Youhyun Sung">
  </div>

  <div class="author__content">
    <h3 class="author__name">Youhyun Sung</h3>
    <p class="author__bio">
      Research Assistant<br>
      Cognitive Systems Lab<br>
      <span class="location"><i class="fas fa-map-marker-alt"></i> <em>Korea University</em></span><br>
      M.A. in Aesthetics<br>
      <span class="location"><i class="fas fa-map-marker-alt"></i> <em>Seoul National University</em></span><br>
      B.A. in German Language &amp; Literature<br>
      <span class="location"><i class="fas fa-map-marker-alt"></i> <em>Hanyang University</em></span>
    </p>
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      <li><a href="mailto:youhyun8808@gmail.com"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email</a></li>
      <li><a href="https://orcid.org/0009-0004-8245-2912" target="_blank"><i class="ai ai-orcid-square ai-fw"></i> ORCID</a></li>
      <li><a href="https://scholar.google.com/" target="_blank"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> Google Scholar</a></li>
      <li><a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
      <li><a href="https://github.com/youhyun-sung" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    </ul>
  </div>
</div>
