<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    <img src="/images/profile.jpeg" alt="Youhyun Sung">
  </div>

  <div class="author__content">
    <h3 class="author__name">Youhyun Sung</h3>
    <p class="author__bio">
      BA, German Language &amp; Literature<br>
      <span class="location"><i class="fas fa-map-marker-alt"></i> <em>Seoul, South Korea</em></span>
    </p>
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      <li><a href="mailto:youhyun8808@gmail.com"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email</a></li>
      <li><a href="https://github.com/youhyunsung" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
      <li><a href="https://instagram.com/yhynnn" target="_blank"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a></li>
    </ul>
  </div>
</div>
