<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg">
            <a href="{{ base_path }}/" class="dark-pink">{{ site.title }}</a>
          </li>
          <li class="masthead__menu-item">
            <a href="{{ base_path }}/research/" class="light-pink">Research</a>
          </li>
          <li class="masthead__menu-item">
            <a href="{{ base_path }}/scientificoutput/" class="lightest-pink">Scientific Output</a>
          </li>
          <li class="masthead__menu-item">
            <a href="{{ base_path }}/gallery/" class="lightest-blue">Gallery</a>
          </li>
          <li class="masthead__menu-item">
            <a href="{{ base_path }}/cv/" class="light-blue">CV</a>
          </li>
          <li class="masthead__menu-item">
            <a href="{{ base_path }}/news/" class="blue">News</a>
          </li>
          <li class="masthead__menu-item">
            <a href="{{ base_path }}/contact/" class="dark-pink">Contact</a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
