<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg">
            <a href="{{ base_path }}/" class="dark-pink">{{ site.title }}</a>
          </li>
          <li class="masthead__menu-item">
            <a href="{{ base_path }}/" class="light-pink">About Me</a>
          </li>
          <li class="masthead__menu-item">
            <a href="{{ base_path }}/research/" class="lightest-pink">Research</a>
          </li>
          <li class="masthead__menu-item">
            <a href="{{ base_path }}/experience/" class="lightest-blue">Experience</a>
          </li>
          <li class="masthead__menu-item">
            <a href="{{ base_path }}/gallery/" class="light-blue">Gallery</a>
          </li>
          <li class="masthead__menu-item">
            <a href="{{ base_path }}/files/youhyun-sung-cv.pdf" class="blue" target="_blank" rel="noopener">CV</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
